<h1>Template driven form</h1>

<form class="example-form" #login="ngForm" (ngSubmit)="onClickSubmit(login.value)">
    <mat-form-field class="example-full-width">
        <input type="email" name="emailid" matInput placeholder="Email" ngModel>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input type="password" name="passwd" matInput placeholder="Password" ngModel>
    </mat-form-field>

    <button type="submit" value="submit" mat-raised-button color="primary">Primary</button>

</form>