<nav>
    <ul>
        <li>
            <a routerLink="" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}">
                <i class="material-icons">supervised_user_circle</i>
            </a>
        </li>
        <li>
            <a routerLink="posts" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}">
                <i class="material-icons">message</i>
            </a>
        </li>
        <li>
            <a routerLink="tform" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}">
                <p>T-Form</p>
            </a>
        </li>
        <li>
            <a routerLink="mform" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}">
                <p>M-Form</p>
            </a>
        </li>
    </ul>
</nav>